.iconRow img {
  height: 30px;
}

.vehicleCard .title {
  font-size: 15pt;
  font-weight: bold;
}

.vehicleCard {
  padding: 5px;
  margin: 5px;
}

.vehicleCard .row {
  margin-bottom: 0px;
}

.lc_Green {
  color: black;
}

.lc_Red {
  color: #aa0e03;
}

.lc_Yellow {
  color: #c1b103;
}

.input-field,
.input-field.inline input {
  margin-top: 0rem;
  margin-bottom: 0rem;
}

.fillCardAlertLower {
  background-color: #aa0e03 !important;
}
.fillCardAlertUpper {
  background-color: #049b1d !important;
}
